.profile_container {
  margin: 1px;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.7);
  color: white;
}

span{
  color: black;
  font-weight: 500;
  font-size: 30px;
  margin: 130px 0px 10px 0px ;
  justify-content: center;
  align-items: center;
}

#share{
 border: 10px;
 margin : -10% 0px 0px 60%;
 padding: 5px 9px 5px 8px;
 border-radius: 5px;
 
 background-color: #F4F5F7;
 text-decoration: none;
 text-align: center;
 color: black;
 justify-content: space-between;
 
}
#share2{
  display: none;
}
.slack{
  display: none;
}
.profile_pic{
  height: 160px;
  width: 160px;
  border-radius: 70%;
  margin-top: 10px;
  margin-bottom: 0px;
}

.btn_container{
  display: flex;
  flex-direction: column;
  margin: 10px;
  padding: 10px;
}

#twitter,
 #btn_zuri, 
 #books, 
 #book_python,
 #pitch,
 #book_design,
 #contact {
  background-color: #F4F5F7;
  padding: 10px 32px 20px 20px;
  text-decoration: none;
  text-align: center;
  color: black;
  justify-content: space-between;
  margin-bottom: 10px;
  margin-top: 0px;
  border-radius: 5px;
}

#twitter:hover,
 #btn_zuri:hover, 
 #books:hover, 
 #book_python:hover,
 #pitch:hover,
 #book_design:hover,
 #contact:hover {
  background-color: #D0D5DD;
  cursor: pointer;
}

.svg-container{
  display: flex;
  align-items: center;
  justify-content: center;  
}
#slack{
  margin-right: 50px;
  height: 30px;
}
#github{
  margin-left: 50px;
}

.footer{
  display: flex;
  justify-content: space-between;
  margin: 50px 0px 5px 5px;
}

.hng{
  color: #667085;
}

.container{
  margin: 10px 0px 10px 0px;
  max-width: 100%;
  max-height: 20px;
 
}


@media (max-width: 500px){
  .footer{
    display: flex;
    flex-direction: column;
    justify-self: start;
    align-items: flex-start;
  }
  
  #share{
    display: none;
  }
  #share2{
    display: inline;
    padding: auto;
    margin: -30% 20px 0px 80%;
  }

}
