.contact_container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#heading{
    display: flex; 
    flex-direction: column;
    align-items: flex-start;
    
}

#header{
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
    color: #101828;
}

#sub-text{
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #475467;
    

}

#form{
    margin: 30px 20px 0px 0px;
}



#form_container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 20px;
}

#name_row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#first_name_container,
#last_name_container,
#email_container,
#message_container{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}


#first_name_label,
#last_name_label,
#email_label,
#message_label{
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #344054;
}

#first_name,
#last_name{
    width: 300px;
    height: 40px;
    border: 1px solid #475467;
    border-radius: 5px;
    margin-top: 10px;
    padding: 10px;
}

#email{
    width: 630px;
    height: 40px;
    border: 1px solid #475467;
    border-radius: 5px;
    margin-top: 10px;
    padding: 10px;
}

#message{
    width: 630px;
    height: 100px;
    border: 1px solid #475467;
    border-radius: 5px;
    margin-top: 10px;
    padding: 10px;
}

#checkbox_container{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    margin-bottom: 10px;
}

#checkbox_base{
    background: #ffffff;
    border: 1px solid #D0D5DD;
    border-radius: 6px;
}

#btn_submit{
    justify-content: center;
    align-items: center;
    color: #ffffff;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    background: #1570EF; 
    border: 1px solid #1570EF;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    border-radius: 8px;
    width: 630px;
    height: 40px;
    margin-top: 30px;
}
#btn_submit:hover{
    background: #175CD3;
    border: 1px solid #175CD3;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    border-radius: 8px;
    color: #FFFFFF;
    cursor: pointer;
}

#btn_submit:focus{
    background: #1570EF;
    border: 1px solid #1570EF;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05), 0px 0px 0px 4px #D1E9FF;
    border-radius: 8px;
}

#btn_submit:disabled{
    background: #B2DDFF;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    border-radius: 8px;
}

#text_checkbox{
    margin-left: 30px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #475467;
}
#message_label:focus{
    color: #344054;
    font-weight: 500;
font-size: 14px;
line-height: 20px;
}
#message:focus{
    font-weight: 400;
font-size: 16px;
line-height: 24px;
color: #101828;
border: 1px solid #1570EF;
}
.error{
    color: #F83F23;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px
}



@media (max-width: 500px){
    .contact_container{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 10px;
    }
    #name_row{
        display: flex;
        flex-direction: column;

    }
    #btn_submit,
    #first_name,
    #last_name,
    #message,
    #email{
        width: 323px;
    }

}
